<!-- start custom head snippets -->
<!-- web font -->
<link href="https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding@1.3.2/d2coding.css" rel="stylesheet" type="text/css">
<!-- google adsense -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4389360314884678",
    enable_page_level_ads: true
  });
</script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<!-- end custom head snippets -->
